#wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.5s
}

#userQueryText {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

#responseDiv {
    height: 400px;
    width: 100%;
    font-size: 2vw;
    margin-top: 40px;
}

.wrapper-active {
    background-color: rgba(0, 0, 0, 0.3);
}

.down-size {
    transform: scale(0.93);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.rss-div {
    margin: 50px auto auto;
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table-element-div {
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    display: table;
    width: 100%;
}

.table-element-div > * {
    padding: 5px;
    width: 33.33%;
    display: table-cell;
    text-align: left;
}

.map-div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 150px;
    width: 230px;
    color: white;
    font-size: 25px;
    background: black;
    margin: 10px;
    border-radius: 5px;
    display: inline-table;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px; /* fallback */
    max-height: 44px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30px;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; /* fallback */
    max-height: 60px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

body {
    transition: all 0.5s;
}